
* {margin: 0; padding: 0;}

/* shadow options */

.botShadow { /* for bottom of element */
    box-shadow: 0 7px 35px -11px black;
}

.sleightShadow { /* for bottom right side */
    box-shadow: 12px 11px 25px 0px #ccc;
}

/* end shadow options */

#background-container {
    position: sticky;
    background-color: white;
    background-image: url("./images/leaves2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -35px !important;
}

#white-center {
    /* general properties */
    background-color: white;
    width: 800px;
    min-width: 800px;
    height: 100%;
    opacity: 1;

    /* text properties */
    font-size: 1em;
    color: white;

    /* box model properties */
    margin-left: auto;
    margin-right: auto;
    padding: 65px;
    position: relative;

    /* border properties */
    border-style: solid;
    border-width: 10px; 
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #212529;
}

#white-center > .container {
    border-radius: 10px !important;
    margin-bottom: 35px;
}

/* bio heading and paragraph */
#bioText {
    height: 190px;
}

#bigBen {
    padding-left: 3px;
    line-height: 75px;
}

#bigTenzer {
    line-height: 67px;
}

.bio-heading-text {
    color: white;
    font-size: 80pt;
    font-family: 'Oswald', sans-serif;
}
/* end bio heading and paragraph */

.heading-text {
    color: white;
    font-size: 75pt;
    font-family: 'Oswald', sans-serif;

}

.sectionHeading {
    background-color: #212529;
    height: 100px;
    width: 600px;
    min-width: 600px !important;
    padding-left: 3px;
    line-height: 75px;
    color: white;
    border-bottom: #797979 solid 5px;

    /* position properties */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.paraText {
    /* general properties */
    width: 560px;
    background-color: white;
    padding: 15px;
    height: 100%;
    box-shadow: 12px 11px 25px 0px #ccc;
    opacity: 1;
    border-radius: 5px;
    border: #2b3035 solid 3px;

    /* text properties */
    color: #2b3035;
    text-indent: 0em;
    font-size: 1em;
    font-weight: normal;

    /* position properties */
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.italics {
    font-style: italic;
}

.indentTxt {
    text-indent: 5em !important;
}

.textProps {
    color: #2b3035;
    text-indent: 0em;
    font-size: 1em;
    font-weight: bold;
}

.technologiesItems {
    padding-top: 0px;
    color: #2b3035;
    text-indent: 0em;
    font-size: 1em;
}

/*
#resAnchor, #workAnchor, #conAnchor {
    padding-bottom: 75px;
    margin-bottom: 75px;
}
*/